---
permalink: /article-count.json
eleventyExcludeFromCollections: true
---
{"count":{{ collections.blog_fr_public.length + collections.blog_en_public.length + collections.blog_de_public.length + collections.blog_es_public.length }}}
