---
layout: null
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <!-- Homepages FR / EN -->
  <url>
    <loc>https://kollder.com/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://kollder.com/en/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://kollder.com/en/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- Partners / Distributeurs -->
  <url>
    <loc>https://kollder.com/fr/distributeurs/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/distributeurs/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/partners/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/partners/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/partners/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/distributeurs/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Baptistère / Baptistry (Church Life vertical) -->
  <url>
    <loc>https://kollder.com/fr/baptistere-immersion/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/baptistere-immersion/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/portable-baptistry/"/>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/portable-baptistry/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/portable-baptistry/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/baptistere-immersion/"/>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://kollder.com/blog/fr/vie-d-eglise/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/vie-d-eglise/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/church-life/"/>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://kollder.com/blog/en/church-life/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/church-life/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/vie-d-eglise/"/>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>

  <!-- Audience landing pages -->
  <url>
    <loc>https://kollder.com/fr/sdis-pompiers/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/sdis-pompiers/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/fire-rescue/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/fire-rescue/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/fire-rescue/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/sdis-pompiers/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/fr/protection-civile/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/protection-civile/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/civil-protection/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/civil-protection/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/civil-protection/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/protection-civile/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/fr/services-urgence-hopitaux/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/services-urgence-hopitaux/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/emergency-medical-services/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/emergency-medical-services/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/emergency-medical-services/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/services-urgence-hopitaux/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/fr/assistance-medicale-evenements/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/assistance-medicale-evenements/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/event-medical-support/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/event-medical-support/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/event-medical-support/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/assistance-medicale-evenements/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/fr/defense-militaire/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/defense-militaire/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/defense-military/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/defense-military/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/defense-military/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/defense-militaire/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/fr/securite-travail/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/securite-travail/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/occupational-safety/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/occupational-safety/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/occupational-safety/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/securite-travail/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Blog index -->
  <url>
    <loc>https://kollder.com/blog/</loc>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>

  <!-- WBGT risk monitor tool -->
  <url>
    <loc>https://kollder.com/fr/monitor/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/monitor/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/monitor/"/>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/monitor/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/monitor/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/monitor/"/>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>

  <!-- Category pages FR -->
  {% for cat in collections.categories %}
  <url>
    <loc>https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/category/{{ cat.slug_en }}/"/>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- Category pages EN -->
  {% for cat in collections.categories %}
  <url>
    <loc>https://kollder.com/blog/en/category/{{ cat.slug_en }}/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/category/{{ cat.slug_en }}/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/"/>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- FR blog articles -->
  {% for post in collections.blog_fr %}
  <url>
    <loc>https://kollder.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateFormatISO }}</lastmod>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com{{ post.url }}"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

  <!-- EN blog articles -->
  {% for post in collections.blog_en %}
  <url>
    <loc>https://kollder.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateFormatISO }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com{{ post.url }}"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

</urlset>
