---
layout: null
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <!-- Homepages FR / EN -->
  <url>
    <loc>https://kollder.com/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://kollder.com/en/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://kollder.com/en/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- Partners / Distributeurs -->
  <url>
    <loc>https://kollder.com/fr/distributeurs/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/distributeurs/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/partners/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://kollder.com/en/partners/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/en/partners/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/fr/distributeurs/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Category pages FR -->
  {% for cat in collections.categories %}
  <url>
    <loc>https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/category/{{ cat.slug_en }}/"/>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- Category pages EN -->
  {% for cat in collections.categories %}
  <url>
    <loc>https://kollder.com/blog/en/category/{{ cat.slug_en }}/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com/blog/en/category/{{ cat.slug_en }}/"/>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com/blog/fr/categorie/{{ cat.slug_fr }}/"/>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  <!-- FR blog articles -->
  {% for post in collections.blog_fr %}
  <url>
    <loc>https://kollder.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateFormatISO }}</lastmod>
    <xhtml:link rel="alternate" hreflang="fr" href="https://kollder.com{{ post.url }}"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

  <!-- EN blog articles -->
  {% for post in collections.blog_en %}
  <url>
    <loc>https://kollder.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateFormatISO }}</lastmod>
    <xhtml:link rel="alternate" hreflang="en" href="https://kollder.com{{ post.url }}"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

</urlset>
